body {
    text-align: center;
    color: #555;
    background-color: #ffffff;
	padding: 0px;
}

.red {
    color: #f53d2d;
}
.p{
	border:3px soild black;
}

.banner {
	text-align: center;
    padding: 45px 30px 0px 30px;
    color: #0000ff;
    background: linear-gradient(-180deg, #c6ddff, #ffaeff);
	font-family:Comic Sans MS;
}

.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}

.container {
    padding: 20px;
}

/* 分頁樣式 */
.tab {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.tab.active {
    background-color: rgba(255, 255, 255, 0.4);
}
.border.page{
	border:3px soild black;
}

/* 商品列表 */
#prodPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 購物車、訂單資訊、管理後台 */
#cartPage, #infoPage, #adminPage, #messagePage {
    display: none;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    border: 2px solid #eee;
    background-color: #fff;
}

.m-0 {
    margin: 0;
}

/* 輸入框樣式 */
.fancy-input {
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 15px auto;
    font-size: 1rem;
}
.fancy-input:focus {
    border: 1px solid #f63;
}

/* 按鈕框樣式 */
.fancy-button {
    padding: 5px 15px;
    border-width: 0;
    color: #fff;
    background-color: #f63;
    font-size: 1rem;
    cursor: pointer;
}
.fancy-button:hover {
    background-color: #e52;
}

/* 商品樣式 */
.prod {
    width: 140px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #fff;
}
.screenshot {
    width: 80px;
    height: 80px;
}

/* 表格樣式 */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th, td {
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}