<!DOCTYPE html>
<html>
  <head>
    <title>學生端</title>
	<link href="http://127.0.0.1:9527/hui/studentpage.css" rel="stylesheet" type="text/css">
  </head>
  <body class="body">
	<img src="http://127.0.0.1:9527/hui/ntublmd.png" alt="My test image" class="ntublmd">
	<div class="div">
		<table>
			<tr>
				<strong class="strong">學號：</strong>
				<input type="phone" placeholder="請輸入學號"/>
				<br>
				<strong class="strong">姓名：</strong>
				<input type="phone" placeholder="請輸入姓名"/>
				<br>
				<strong class="strong">密碼：</strong>
				<input type="phone" placeholder="請輸入密碼"/>
			</tr>
		</table>
	</div>
		<button id="login" class="login"><a href="/login">登入</a></button>
		<button id="register" class="register"><a href="/register">註冊</a></button>
	<script src="http://127.0.0.1:9527/hui/studentpage.js"></script>
  </body>
</html>
